<li>
    <p>
        <%= post.content %>
        <% if(locals.user && locals.user._id == post.user.id){ %>
            <small><a href="/posts/destroy/<%= post.id %>">Delete</a></small>
        <% } %>
        <br>
        <%= post.user.name %>
    </p>
    <div class="posts-comments">
        <% if(locals.user){ %>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type here to add comments...." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comments">
            </form>
        <% } %>
        <div class="post-comment-list">
            <ul id="post-comments-<%= post.id %>">
                <% for (comment of post.comments){ %>
                    <li>
                        <p>
                            <%= comment.content %>
                            <% if(locals.user && locals.user._id == comment.user.id){ %>
                                <small><a href="/comments/destroy/<%= comment.id %>">Delete</a></small>
                            <% } %>
                            <br>
                            <small><%= comment.user.name %></small>
                        </p>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</li>