<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) {%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="post-list-container">
            <ul>
                <% for(post of posts) {%>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <div class="users-friend">
            <h4>Friends</h4>
            <% for(friend of userFriends){ %>
                <p>
                    <a href="/users/profile/<%= friend.id %>"><%= friend.name %></a>
                </p>
            <% } %>
        </div>
        <div class="all-users">
            <h4>Users</h4>
            <% for(users of all_users){ %>
                <p>
                    <a href="/users/profile/<%= users.id %>"><%= users.name %></a>
                    <% if(userFriends.includes(users)){ %>
                        <small><a class="toggle-friends-button" href="/friends/toggle/<%= users.id %>">remove friend</a></small>
                    <% }else{ %>
                        <small><a class="toggle-friends-button" href="/friends/toggle/<%= users.id %>">Add friend</a></small>
                    <% } %>
                </p>
            <% } %>
        </div>
    </section>
</div>
<script src="/js/home_post.js"></script>
<script src="/js/home_comment.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="js/toggle_friends.js"></script>
<script>
    $('.toggle-friends-button').each(function(){
        let self = this;
        let toggleFriends = new ToggleFriend(self);
    })
</script>